:root {
    /*Color*/
    --color-text: #fff;
    --color-primary:#90ee90;
    --color-scondary:#4ee44e;
    --color-dark:#0b4025;
    --color-bg:#122d04;


    /*fonts*/
    --font-robot: "Roboto";





}